doctype html
html
    head
        title 请授权
    body
        div
            form(method='POST')
                input(type='text' name='username')
                input(type='password' name='password')
                input(type='submit')